.banner{
    background-size: cover;
    background-position: center;
    height: 100vh;

    background-image: linear-gradient(rgba(47, 47, 47, 0.4), rgba(60, 58, 58, 0.4)),
    url("https://cdn.pixabay.com/photo/2018/04/16/09/30/literature-3324023_1280.jpg");
}
.bannerContainer{
    text-align: center;
    padding: 15% 0;

    color: rgb(205, 196, 196);
    text-shadow: 1 px 1px 3px rgba(0,0,0,0.2);
    font-size: 2rem;
    font-family: 'EB Garamond', serif;
}   